
.navbar {
    background-color: #7c85b1;
    height: 120px;
    display: flex;
    justify-content: start;
    align-items: center;
    
  }
 
  
  .menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
    background-color: #7c85b1;
  }
  
  .nav-menu {
    background-color: #7c85b1;
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 850ms;
  }
  
  .nav-menu.active {
    left: 0;
    transition: 350ms;
  }
  
  .nav-text {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 8px 0px 8px 16px;
    list-style: none;
    height: 60px;
  }
  
  .nav-text a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
  }
  
  .nav-text a:hover {
    background-color: #1a83ff;
  }
  
  .nav-menu-items {
    width: 100%;
  }
  
  .navbar-toggle {
    background-color: #7c85b180;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  span {
    margin-left: 16px;
  }
  .navbar img{
      height: 100px;
      width: 200px;
  }
  .menu-bars-text{
      color: ivory;
      text-decoration: none;
      margin-left: 50px;
      text-align:center ;
  }
  .for-lg a{
    color: white;
    padding: 10px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 50px;
    }
  .for-lg a:hover{
      background-color: rgba(61, 235, 177, 0.555);
      border-radius: 10px;
      margin: 10px;
      text-align: center;
      cursor: pointer
  }
  .login-logout{
      margin-left: 70px;
  }
  .login-logout a{
    font-size: 50px;
    color: white;
    padding: 20px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .login-logout a:hover{
    background-color: rgba(61, 235, 177, 0.555);
    border-radius: 10px;
    margin: 10px;
    text-align: center;
    cursor: pointer
  }

    @media only screen and (max-width:689px){
      .nav-menu{
        z-index: 100000;
      }
        .for-lg{
            display: none !important;
        }
        .imgnav{
            display: none !important;
        }
        .login-logout a{
            font-size: 10px;
            margin: 0px;
            padding: 2px;
        }
        .login-logout a:hover{
            background-color: rgba(75, 82, 80, 0.555);
            border-radius: 0px;
            color: rgba(243, 253, 248, 0.555);
            margin: 0px;
            text-align: center;
            cursor: pointer
        }
    }
    @media only screen and (min-width: 992px){
        .menu-bars, .menu-bars-text{
            display: none!important;
        }
    }
    @media only screen and (min-width: 767px) {
        .menu-bars, .menu-bars-text{
            display: none!important;
        }
    }